@CHARSET "UTF-8";

body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0px;
	padding: 5px 3px;
}


header {
	padding: 2px 0px;
	margin-bottom: 3px;
	height: 30px;
	background-color: #545454;
	color: #fff;
	box-shadown: 0px 2px 2px #ccc;
}



header>div {
	margin-left: 8px;
}

footer {
	padding: 0px 8px;
	margin-bottom: 10px;
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0 px;
}

#conteudo {
	padding: 0px 8px;
}

#login-dialog {
	width: 290px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
}

.rotulo {
	width: 150px;
}

.painelGridCadastro {
	margin-top: 20px;
	width: 100%;
}

.ui-panelgrid td {
	height: 34px;
}

.inputNumber input  {
	text-align: rigth;
}

.ajaxStatus {
	position: fixed;
	top: 70px;
	right: 10px;
	width: 35px;
	height: 35px;	
}